/*appears in all pages*/
body{
    background-image: url(../images/burried/burried.png);
    overflow:scroll;
}

header{
border:solid black;
background:#5f9ea0;
padding:50px;
font-family: 'Georgia', Times, "Times New Roman", serif;

}

.chay {
    font-size: 42px; 
    padding:10px 10px;
    background:#50514f;
    color:#ca4643;
    margin:-12px 67px 0px 91px;
    display:block;
    float:left;
    }

.links{
    
    background:#50514f;
    color: #ca4643;
    font-size:24px; 
    padding: 10px 10px;
    display:block;
    float:left;
    margin: 6px 0px 0px 46px;
}

a {
    color: #ca4643;
}

.picture{
    float:left;
    margin: 10px 10px 10px 10px;
}

.content{
margin:auto;
width: 960px;
min-height: 80vh;
}

section{
  background:#f5deb3;
}

.main{
    display:block;
    float: left;
width:640px;
margin-right: 20px;
padding:5px;
}

.connect{
    padding:5px;
display: block;
width: 260px;
float:right;

}

h1 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

h2{
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 24px;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height:150%;

}

.imageLink{
width: 80px;
height: 80px;
margin-left:5px;
float:left;
}



footer{
clear:both;
display:block;
background:cadetblue;
text-align:center;
/*position:fixed;
bottom:0px;*/
width:100%;
height:20px;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/*only on index*/
#myPicture {
transform: rotate(90deg);
width:200px;
margin: 10px 10px 20px 10px;
}

#education {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height:150%;
    list-style-type: circle;
    padding-right: 10px;
    margin-left:20px;
}

/*only on cantact*/
form {
    line-height:150%;
}

.textbox{
width:300px;
}

#message{
width:300px;
height:150px;
}

/*only on portfolio*/
.portfolio{
    display:block;
    border: solid black;
    float: left;
    padding: 5px 0px 5px 5px;
    margin: 50px 50px;
    text-align:center;
    background:white;
}

.projectImage{
    width:200px;
}

.projLink {
    text-decoration: none;
    font-size:18px;
}

/*media queries*/
@media screen and (max-width: 980px) and (min-width: 769px){
    header{
        padding:50px;
    }
    .chay{
        margin: -12px 67px 0px 0px;
    }
    .links{
        margin: 6px 0px 0px 0px;
    }
    .content{
        width: 740px;
    }
    .main{
        width:300px;
        margin:10px 20px 10px 50px;
    }
    .picture{
        float:none;
        margin-left:40px;
    }
    #mypicture{
        float:none;
        margin:10px 10px 20px 40px;
    }
    .connect{
        width:260px;
        margin:10px 20px 50px 20px;
        float: left;
    }
    .projectImage{
        width:180px;
    }
    .textbox{
        width: 285px;
    }
    #message{
        width:285px;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px){
    header{
        padding:35px;
    }
    .chay{
        margin: -21px 20px 0px -21px;
        font-size:36px;
    }
    .links{
        margin: -8px 0px 0px 36px;
    }
    .content{
        width:640px;
    }
    .main{
        margin: 10px 15px;
        width: 600px;
        float:none;
    }
    .connect{
        margin: 10px 15px;
        width: 600px;
        float:none;
        padding-bottom:90px;
    }
    #portMain{
        height: 300px;
    }
    .portfolio{
        float:left;
        width: 220px;
        margin: 0px 10px 20px 40px;
    }
    .textbox{
        width: 595px;
    }
    #message{
        width:595px;
    }
}


@media screen and (max-width: 640px){
    header{
        position: static;
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .chay{
       margin: 0px 2px 2px -39px; 
       padding-top: 6px;
       padding-bottom: 6px;
    }
    .links {
       margin-left: 2px;
       font-size: 18px;

    }
    .content{
        max-width: 100vw;
    }
    .main{
        width: 90vw;
        margin: auto;
        margin-bottom: 10px;
        float: none;
    }
    .connect{
        width: 90vw;
        margin: auto;
        margin-bottom: 10px;
        float: none;
        padding-bottom:85px;
    }
    .picture{
        float:none;
        margin: 10px 10vw 10px 14vw;
    }
    .textbox{
        width: 85vw;
    }
    #message{
        width: 85vw;
    }
    #portMain{
        height:570px;
    }
    .portfolio{
        float: none;
        margin:10px 13vw;
    }
}